<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/dist/css/main.css">
    <title>Typescript Node.js Template</title>
</head>
<body>
    <h1 class="title">Typescript Node.js Template</h1>
    <span class="server-message"></span>
    <footer>
        <p class="credits">
        2021
        <a href="https://github.com/deviatorslegacy/">DeviatorsLegacy</a>
        </p>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/dist/js/main.js"></script>
</body>
</html>
